/* Generalle Einstellungen für die ganze Seite */
html {
  background-color: #172446;
  color: white;
  font-family: "Fira Sans";
  font-weight: 400;
}

/* Padding für die einzelnen Komponenten um Rand zu schaffen */
.padding {
  padding-left: 15%;
  padding-right: 15%;
}

/*Zusätzlicher Abstand am Ende der Komponente */
.margin-t {
  margin-top: 30px;
}

.margin-b {
  margin-bottom: 16px;
}

.gap {
  gap: 16px;
}

/*Abstand oben unten der Komponente*/
.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

/*Padding für Überschriften */
.title-padding {
  padding: 10px 0 10px 0;
}

/* für divs in einer Reihe */
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* große Überschriften -> die bei mobiler Ansicht kleiner werden */
.title {
  font-size: 32px;
}

/*etwas kleinere Überschrift */
.title-tiny {
  font-size: 20px;
}

.title-small {
  font-size: 14px;
  font-weight: bold;
}

/*sehr große Überschrift */
.title-big {
  font-size: 50px;
}

/* Hintergrundfarben */
.white {
  background-color: white;
  color: #172446;
}

.light {
  background-color: #3a4562;
  font-weight: 400;
}

.dark {
  background-color: #172446;
}

.lighter {
  background-color: rgba(255, 255, 255, 0.15);
}

.light-grey {
  background-color: #cccbcb4d;
}

/*hervorgehobene Wörter */
b {
  color: #ff6900;
}

/* Box für Logos/Bilder/Text -> mit jeweiliger background-color */
.box {
  border-radius: 4px;
  padding: 32px;
}

/*kleine Boxen für Logos -> Hintergrundfarbe extra einstellen */
.logo-box {
  width: 32%;
  height: 56px;
  border-radius: 4px;
  padding: 16px 32px;
}

.logo-box-big {
  padding: 50px;
  /*display: flex;*/
}

.logo-box-big > img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

/*Reihe von 4 Boxen */
.box-row > div {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

/*Zentriert Icons */
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Kreis um Icon*/
.circle {
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 13px;
  transition: border 1s;
}

.circle:hover {
  border: 1px solid rgb(255, 255, 255);
}

/*wechselt ab zwischen ausgegrauter kleiner Überschrift und etwas größerer hellerer Text*/
.facts > div:nth-child(odd) {
  opacity: 0.6;
}

.facts > div:nth-child(even) {
  font-size: 26px;
  margin: 16px 0 32px 0;
}

/*für Auflistungen mit Punkt*/
.list > li {
  list-style-type: disc !important;
  margin-left: 17px;
}

/*für Links*/
.link {
  color: #ff6900;
  text-decoration: underline;
}

/*für Links mit Icon */
.link-icon {
  color: #ff6900;
  text-decoration: none;
}

.link-icon > i {
  position: relative;
  top: 7px;
}

/*für alle Buttons -> mobil auf width: 100% */
.btn {
  background-color: #ff6900;
  color: white;
  margin-top: 16px;
  text-transform: none;
  height: 48px;
}

.btn:hover {
  background-color: #ff8126;
}

/* Nav-bar: */
nav {
  background-color: #172446;
  box-shadow: none;
}

nav .sidenav-trigger {
  margin: 0 0 0 18px;
}

.sidenav {
  width: 100vw !important;
  background-color: #172446;
}

.sidenav li::after {
  content: "";
  width: 30px;
  border-bottom: 1px solid #ff6900;
  position: relative;
}

.sidenav li > a {
  color: white !important;
}

.indicator {
  background-color: #ff6900 !important;
}

/*Carousels: */
.carousel {
  cursor: pointer;
  height: 500px;
}

/*Für Slider mit Bildern -> carousel-img */
.carousel.carousel-img {
  height: 120px;
}

.carousel.carousel-img .carousel-item {
  height: 40px !important;
}

.carousel.carousel-img .carousel-item > img {
  width: auto;
  height: 100%;
}

/* für Slider mit Text -> carousel-text */
.carousel.carousel-text .carousel-item {
  height: 400px;
  border-radius: 4px;
  width: 600px !important;
  padding: 20px 50px;
  text-align: center;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel.carousel-text .carousel-item::-webkit-scrollbar {
  display: none;
}

/*für noWrap-Slider */
#carousel {
  overflow: hidden;
  scroll-behavior: smooth;
}

#prev-noWrap,
#next-noWrap {
  background-color: rgba(23, 36, 70, 0.8);
  color: white;
  font-weight: lighter;
  border-radius: 4px;
  width: 56px;
  height: 56px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
}

#prev-noWrap {
  left: 0;
  transform: translate(0%, -50%);
  display: none;
}

#next-noWrap {
  right: 0;
  transform: translate(0%, -50%);
}

#content-slider {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(16, 300px);
}

/*für Tabs bei Versandrechner -> Tabs mit Icon */
.tabs-img .tabs {
  height: 80px;
}

.tabs-img .tabs .tab {
  height: 100%;
}

.tabs-img .tabs .tab a img {
  margin-top: 10px;
}

.tabs-img .tabs .tab a {
  padding: 0;
}

.tabs-img .tabs .tab a.active {
  background-color: #cccbcb4d;
  border-radius: 4px 4px 0px 0px;
}

.tabs-img .tabs .tab a:focus,
.tabs-img .tabs .tab a:focus.active {
  background-color: #cccbcb4d;
}

.shipping-grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.tab-font {
  position: relative;
  top: -25px;
  color: #172446;
  text-transform: none;
}

.no-indicator > .indicator {
  display: none;
}

.row .col {
  padding: 0;
}

/*Styling für Stepper */
.stepper {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  height: 55px;
}

.stepper-tab {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  color: white;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.stepper-tab .check {
  display: none;
}

.done .stepper-tab .check {
  display: inline-block;
}

.done .stepper-tab .number.circle-filled {
  display: none;
}

.circle-filled {
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 5px;
  width: 30px;
  height: 30px;
}

.done .circle-filled {
  background-color: rgba(9, 14, 27, 0.05);
  color: #172446;
}

.active .circle-filled {
  color: rgba(9, 14, 27, 0.1);
  background-color: rgba(9, 14, 27, 0.05);
}

.circle-filled > div {
  margin-top: -1px;
}

.circle-filled > i {
  position: relative;
  top: -2px;
  right: 2px;
}

/*Divs für Multistepper */
.done .stepper-tab,
.active .stepper-tab {
  background-color: white;
}

.done .stepper-tab,
.active .stepper-tab {
  color: rgb(23, 36, 70);
}

.done .stepper-tab .not-done-text {
  display: none;
}

.stepper-tab .done-text {
  display: none;
}
.done .stepper-tab .done-text {
  display: inline-block;
}

/* Collapsible */
.collapsible {
  border: none;
}

.collapsible-header {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 3px 3px 0 0;
  border: none;
}

.collapsible-body {
  border: none;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 0 0 3px 3px;
}

.collapsible .chev-down {
  display: none;
}

.collapsible .active .chev-down {
  display: inline-block;
}

.collapsible .active .chev-right {
  display: none;
}

/* Collapsible Menu */
.menu .collapsible {
  box-shadow: none;
  margin: 0;
}

.collapsible-header.menu-point,
.collapsible-body .menu-point {
  background-color: white;
  border-radius: 4px;
  color: #3a4562;
  height: 50px;
  margin-bottom: 2px;
  padding: 15px 15px 15px 20px;
  cursor: pointer;
  border-left: 3px solid white;
  transition: border-color 0.4s;
}

.active-page.collapsible-header.menu-point,
.collapsible-body .active-page.menu-point {
  border-color: #ff6900;
}

.menu .collapsible-body {
  background-color: rgba(0, 0, 0, 0);
  padding: 0 0 0 20px;
}

/*für Input-felder */
.input {
  height: 48px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: border 0.5s, transform 0.15s ease;
  outline: none;
  background-color: #cccbcb4d;
  font-weight: 400;
  font-family: Fira Sans;
}

.input::placeholder {
  color: #17244698;
}

/* floating für Label-Animation */
.floating .input {
  padding-top: 15px;
}

.floating select.input {
  padding: 0 5px;
}

.shipping .input {
  background-color: white;
}

.with-border .input:hover,
.with-border.input:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.with-border .input:focus,
.with-border.input:focus {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.dark-input.input {
  color: white;
}

.dark-input.input::placeholder {
  color: white;
}

.with-border .dark-input.input:hover,
.with-border.dark-input.input:hover {
  border-color: rgba(255, 255, 255, 0.7);
}

.with-border .dark-input.input:focus,
.with-border.dark-input.input:focus {
  border-color: white;
}

.text {
  padding-left: 10px;
}

.input-row {
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  border: 1px solid white;
  background-color: white;
  transition: border 0.5s;
  width: 50%;
}

/*Hover-Effekte */
.input-row:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.input-row > div {
  width: 33%;
}

.input-row > .input:first-of-type {
  border-radius: 4px 0 0 4px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.input-row > .input:nth-of-type(2) {
  border-radius: 0;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.input-row > .input:last-of-type {
  border-radius: 0 4px 4px 0px;
}

/*Input-label für Animation */

.label-input {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 280px;
  border-radius: 3px;
  overflow: hidden;
}

.label {
  position: absolute;
  bottom: 2px;
  left: 11px;
  transform-origin: 0 0;
  transition: all 0.2s ease;
  font-size: 16px;
  cursor: text;
  pointer-events: none;
  color: #17244698;
}

.input:not(:placeholder-shown) + .label {
  transform: translate3d(0, -7px, 0) scale(0.75);
}

.input:focus + .label {
  transform: translate3d(0, -7px, 0) scale(0.75);
}

.icon-btn {
  color: #ff6900;
}

.line {
  width: 1px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.3);
}

/*Toggle-Button */
.toggle {
  color: #1724464d;
  border-radius: 4px;
  padding: 11px;
  border: 1px solid #1724464d;
  text-align: center;
  margin-left: 3px;
  cursor: pointer;
  transition: color 0.5s, border 0.5s;
}

.toggle:hover {
  color: #172446d3;
  border: 1px solid #172446d3;
}

.toggle.active {
  color: #172446;
  background-color: #cccbcb4d;
  border: 1px solid white;
}

#toggle-client > .toggle {
  width: 50px;
}

#toggle-package > .toggle {
  width: 80px;
}

/*Angebote */
.offer-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 10px;
  align-items: center;
  border-radius: 4px;
  gap: 10px;
}

.offer-grid img {
  height: 35px;
  width: auto;
}

.offer-grid > .offer-cell {
  height: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.offer-grid > .offer-cell > div:first-of-type {
  font-size: 12px;
  opacity: 0.6;
}

.detail-box .input {
  width: 400px;
}

/* Radio Buttons */
[type="radio"]:not(:checked) + span:before {
  border-color: #cccbcb4d;
  left: 5px;
}

[type="radio"].with-gap:checked + span:before,
[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  border-color: #ff6900;
  left: 5px;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: #ff6900;
  left: 5px;
}

.radio-box .title-small {
  width: 100%;
  border: 1px solid #cccbcb4d;
  border-radius: 4px;
  padding: 10px;
  top: 3px;
  height: 40px !important;
  margin-bottom: 10px;
}

.radio-box .title-small span {
  position: relative;
  bottom: 3px;
}

.radio-box [type="radio"] + span:before {
  top: 7px;
}

.radio-box [type="radio"].with-gap:checked + span:after {
  top: 7px;
}

.radio-box [type="radio"]:checked + span {
  background-color: #cccbcb4d;
}

.radio-box [type="radio"] + span {
  padding-left: 45px;
}

.radio-box p,
.check-box p,
.radio p {
  margin: 0;
}

/* Checkboxen */
[type="checkbox"].filled-in:checked + span:not(.lever):before {
  border-right: 2px solid #172446;
  border-bottom: 2px solid #172446;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid #172446;
  background-color: white;
}
[type="checkbox"].filled-in:checked + span {
  color: #172446;
}

/*Tabellen -> Grids und Zeilen */
.table .header,
.table .body .table-row {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 16px;
}

.table .header,
.table2 .header {
  background-color: #3a4562;
  color: white;
  border-radius: 4px 4px 0px 0px;
  padding: 20px;
}

.table .body .table-row,
.table2 .body .table-row {
  border: 1px solid #3a45624d;
  padding: 10px 20px;
}

.table .body .table-row:last-of-type,
.table2 .body .table-row:last-of-type {
  border-radius: 0 0 4px 4px;
}

.table-row i {
  opacity: 0.1;
}

.table2 .header,
.table2 .body .table-row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 10px;
}

/* Only small devices (phones, 600px and under) */
@media only screen and (max-width: 600px) {
  #content-slider {
    grid-template-columns: repeat(16, 260px);
  }

  #carousel {
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  #carousel::-webkit-scrollbar {
    display: none;
  }

  #prev-noWrap,
  #next-noWrap {
    display: none;
  }

  .hide-tiny > img {
    display: none;
  }

  .hide-tiny > .tab-font {
    margin: auto;
    font-size: 14px;
  }
}

@media only screen and (min-width: 600px) {
  .flex-to-column-tiny {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
  }
}

/* Medium & small devices (tablets/ phones, 992px and under) */
@media only screen and (max-width: 992px) {
  nav .brand-logo {
    transform: none !important;
    left: 0;
  }

  .hide-mobile {
    display: none;
  }

  .title {
    font-size: 20px;
  }

  .box-mobile {
    padding: 10px;
    border-radius: 4px;
    background-color: #cccbcb4d;
  }

  .padding {
    padding-left: 30px;
    padding-right: 30px;
  }
  .carousel.carousel-img .carousel-item {
    height: 30px !important;
  }
  .carousel.carousel-text .carousel-item {
    width: 300px !important;
    padding: 15px;
  }
  .btn {
    width: 100%;
  }
  .flex-mobile {
    display: flex;
    flex-direction: column-reverse;
  }

  .flex-mobile-column {
    display: flex;
    flex-direction: column-reverse;
  }

  .logo-box {
    width: 49%;
    height: 80px;
    border-radius: 4px;
    padding: 16px 32px;
  }

  .logo-box-big {
    width: 100%;
    padding: 34px;
  }

  .logo-box > img {
    max-width: 60%;
  }

  .tabs-img .tabs {
    height: 150px;
  }

  .tabs-img .tabs .tab a {
    border-radius: 4px;
    border: 1px solid #cccbcb4d;
    align-items: center;
    padding: 0;
    display: flex;
    flex-direction: row;
  }

  .tabs-img .tabs .tab a > img {
    margin-left: auto;
    position: relative;
    bottom: 8px;
    margin-right: 3px;
  }

  .tabs-img .tabs .tab a > div {
    margin-right: auto;
  }

  .tabs-img .tabs .tab a.active {
    background-color: #cccbcb4d;
    border-color: white;
  }

  .tab-font {
    position: static;
  }

  .tabs-img .tabs .tab a:focus,
  .tabs-img .tabs .tab a:focus.active {
    background-color: #cccbcb4d;
    border-color: white;
  }

  .shipping-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 60px);
    gap: 5px;
  }

  .shipping .input {
    background-color: #cccbcb4d;
  }

  .shipping .input-row .input {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
  }

  .input-row {
    background-color: #cccbcb4d;
    width: 100%;
  }

  .icon-btn {
    background-color: #3a4562;
    color: white;
    border-radius: 4px;
    padding: 6px;
  }

  .line {
    height: 1px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 20px 0 20px 0;
  }

  .stepper {
    grid-template-columns: repeat(5, 1fr);
  }

  .stepper a:first-of-type.active {
    grid-column: 1 / 3;
  }

  .stepper a:nth-of-type(2).active {
    grid-column: 2 / 4;
  }

  .stepper a:nth-of-type(3).active {
    grid-column: 3 / 5;
  }
  .stepper a:last-of-type.active {
    grid-column: 4 / 6;
  }

  .stepper .stepper-tab .not-done-text,
  .stepper .stepper-tab .done-text {
    display: none;
  }

  .active .stepper-tab .not-done-text {
    display: inline-block;
  }

  .active .stepper-tab .circle-filled.number {
    color: #3a4562;
  }

  .stepper-tab .circle-filled.number {
    color: white;
  }

  .offer-grid {
    grid-template-columns: 2fr 2fr 2fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
  }

  .offer-grid > img {
    grid-column: 1/3;
    align-self: center;
    justify-self: start;
    height: 20px;
  }

  .offer-grid > .radio,
  .offer-grid > .offer-cell:last-of-type,
  .offer-grid > .price {
    text-align: end;
  }

  .offer-grid [type="radio"]:not(:checked) + span:before {
    border-color: white;
  }

  .offer-grid [type="radio"].with-gap:checked + span:before,
  .offer-grid [type="radio"]:checked + span:after,
  .offer-grid [type="radio"].with-gap:checked + span:after {
    border-color: white;
  }

  .offer-grid [type="radio"]:checked + span:after,
  .offer-grid [type="radio"].with-gap:checked + span:after {
    background-color: white;
  }

  .detail [type="radio"]:not(:checked) + span:before {
    border-color: #3a4562;
  }

  .detail [type="radio"].with-gap:checked + span:before,
  .detail [type="radio"]:checked + span:after,
  .detail [type="radio"].with-gap:checked + span:after {
    border-color: #3a4562;
  }

  .detail [type="radio"]:checked + span:after,
  .detail [type="radio"].with-gap:checked + span:after {
    background-color: #3a4562;
  }

  .table .header,
  .table .body .table-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .table2 .header,
  .table2 .body .table-row {
    display: grid;
    grid-template-columns: 1fr;
  }

  .table .header,
  .table2 .header {
    background-color: white;
    color: #3a4562;
    padding: 10px 20px;
  }

  .table .body .table-row,
  .table2 .body .table-row {
    border: none;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    margin-top: 2px;
  }

  .box-resp {
    background-color: white;
    border-radius: 4px;
    padding: 20px;
    color: #172446;
    margin-bottom: 10px;
  }

  .check-box {
    width: 80%;
    border: 1px solid #cccbcb4d;
    border-radius: 4px;
    padding: 5px;
  }

  .circle {
    padding: 5px;
  }

  .circle-padding {
    padding: 5px 1px 5px 9px;
  }

  /*.check-box [type="checkbox"]:checked + span {
    background-color: #cccbcb4d;
  }*/

  .box {
    padding: 20px;
  }

  .padding-forms {
    padding: 20px;
  }

  .margin-b {
    margin-bottom: 10px;
  }

  .gap {
    gap: 10px;
  }

  /* .more-row [type="checkbox"].filled-in:checked + span:not(.lever):after,
  .more-row [type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
    top: 13px;
  }

  .more-row [type="checkbox"] + span:not(.lever):before {
    margin-top: 15px;
  }

  .more-rows [type="checkbox"].filled-in:checked + span:not(.lever):after,
  .more-rows
    [type="checkbox"].filled-in:not(:checked)
    + span:not(.lever):after {
    top: 26px;
  }

  .more-rows [type="checkbox"] + span:not(.lever):before {
    margin-top: 28px;
  }*/
}

/* Extra large devices (large laptops and desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hide-desktop {
    display: none;
  }

  .flex-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .spacing {
    padding: 20px 40px 20px 0;
  }

  .half {
    max-width: 48%;
  }

  .half-box {
    width: 100%;
  }

  .tab-content {
    background-color: #cccbcb4d;
    border-radius: 0 0 4px 4px;
    color: #172446;
    padding: 40px 20px 20px 20px;
  }

  .flex-to-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
  }

  .halfMin {
    width: 45%;
  }

  .height-box {
    height: 600px;
  }

  .box-desktop {
    border-radius: 4px;
    padding: 40px;
    width: 75%;
    background-color: white;
    color: #172446;
  }

  .box-resp {
    background-color: #cccbcb4d;
    border-radius: 4px;
    padding: 20px;
    width: 100%;
  }

  .grid-mobile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
  }

  .height-desktop {
    height: 350px;
  }

  .white-input.input,
  .white-input .input {
    background-color: white;
  }

  .padding-desktop {
    padding-left: 20px;
  }

  .width-desktop {
    width: 50%;
  }

  .padding-forms {
    padding: 32px 64px;
  }

  .stepper-tab {
    justify-content: start;
    padding-left: 16px;
  }

  .circle-padding {
    padding: 13px 9px 13px 17px;
  }

  .width-date-picker {
    width: 80%;
  }
}
