html {
  background-color: #172446;
  color: white;
  font-family: "Fira Sans";
}

/* Padding für die Komponenten um Rand zu schaffen */
.padding {
  padding-left: 15%;
  padding-right: 15%;
}

/* für Flexboxen in einer Reihe */

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* große Überschriften */

.title {
  font-size: 32px;
}

/* Graue Box für Logos und Bilder, width und height jenachdem nochmal seperat einstellen*/
.box-light {
  background-color: #3a4562;
  border-radius: 4px;
  padding: 40px;
}

.box-dark {
  background-color: #172446;
  border-radius: 4px;
  padding: 40px;
}

.box-tiny {
  min-width: 23%;
  height: 100%;
  margin-bottom: 10px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hintergrund für hellere Bereiche */
.background-light {
  background-color: #3a4562;
}

.section {
  margin-top: 30px;
}

.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Kreis um Icon*/
.circle {
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 13px;
  transition: border 1s;
}

.circle:hover {
  border: 1px solid rgb(255, 255, 255);
}

.slider-title {
  font-size: 20px;
  padding: 10px;
  font-weight: 500;
}

.facts {
  margin-top: 20px;
}

.facts > div:nth-child(odd) {
  opacity: 0.6;
}

.facts > div:nth-child(even) {
  font-size: 26px;
  padding: 5px 0 5px 0;
}

.list a {
  color: #ff6900;
  text-decoration: underline;
}

.list {
  list-style-type: circle;
}

/* Ändern der Materialize-Komponenten*/
nav {
  background-color: #172446;
  box-shadow: none;
}

.sidenav {
  width: 100% !important;
  background-color: #172446;
}

.sidenav li > a {
  color: white !important;
}

.indicator {
  background-color: #ff6900 !important;
}

.carousel.carousel-img {
  height: 120px;
}

.carousel.carousel-img .carousel-item {
  height: 50px !important;
}

.carousel.carousel-img .carousel-item > img {
  width: auto;
  height: 100%;
}

.carousel.carousel-text .carousel-item {
  background-color: #172446;
  height: 300px;
  border-radius: 4px;
  width: 600px !important;
  padding: 20px 50px;
  text-align: center;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel.carousel-text .carousel-item::-webkit-scrollbar {
  display: none;
}

.tabs-img .tabs {
  height: 80px;
}

.tabs-img .tabs .tab {
  height: 80px;
}

.tabs-img .tabs .tab a.active {
  background-color: #cccbcb4d;
  border-radius: 4px 4px 0px 0px;
}

.tabs-img .tabs .tab a:focus,
.tabs-img .tabs .tab a:focus.active {
  background-color: #cccbcb4d;
}

.tab-font {
  position: relative;
  top: -25px;
  color: #172446;
}

.no-indicator > .indicator {
  display: none;
}

.tab-content {
  background-color: #cccbcb4d;
  border-radius: 0 0 4px 4px;
  color: #172446;
}

.collapsible {
  border: none;
}

.collapsible-header {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 3px 3px 0 0;
  border: none;
}

.collapsible-body {
  border: none;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 0 0 3px 3px;
}

/* Medium devices (tablets/ large phones, 992px and under) */
@media only screen and (max-width: 992px) {
  nav .brand-logo {
    transform: none !important;
    left: 0;
  }

  .hide-mobile {
    display: none;
  }
  .title {
    font-size: 20px;
  }

  .padding {
    padding: 0 30px 0 30px;
  }
  .carousel.carousel-img .carousel-item {
    height: 30px !important;
  }
  .carousel.carousel-text .carousel-item {
    width: 300px !important;
    padding: 15px;
  }
  .btn {
    width: 100%;
  }
  .flex-mobile {
    display: flex;
    flex-direction: column-reverse;
  }
}

/* Extra large devices (large laptops and desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hide-desktop {
    display: none;
  }

  .flex-desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .half {
    max-width: 45%;
  }

  .box {
    padding: 20px 40px 20px 0;
  }
}
