<div class="padding section-padding">
  <div class="title">Adresse hinzufügen</div>
  <div class="box white margin-t margin-b" style="padding: 20px">
    <div class="title-small">Rechnungsadresse entspricht</div>
  </div>
  <form>
    <div class="flex-to-column">
      <div class="box white margin-b with-border">
        <div class="margin-b flex">
          <p>
            <label>
              <input class="with-gap" name="group1" type="radio" />
              <span class="title-small" style="color: #172446"
                >Abholadresse</span
              >
            </label>
          </p>
          <i class="material-icons" style="color: #ff6900; margin-bottom: 10px"
            >edit</i
          >
        </div>
        <input
          type="text"
          class="browser-default input text margin-b"
          style="width: 100%"
          placeholder="Firma"
        />
        <input
          type="text"
          class="browser-default input text margin-b"
          style="width: 100%"
          placeholder="Vorname*"
        />
        <input
          type="text"
          class="browser-default input text margin-b"
          style="width: 100%"
          placeholder="Nachname*"
        />
        <input
          type="text"
          class="browser-default input text margin-b"
          style="width: 100%"
          placeholder="Straße, Nr.*"
        />
        <div class="flex with-border margin-b">
          <input
            type="text"
            class="browser-default input text"
            style="width: 77%"
            placeholder="PLZ, Ort*"
          />
          <select class="browser-default input" style="width: 20%">
            <option value="1">DE</option>
            <option value="2">AU</option>
            <option value="3">FR</option>
          </select>
        </div>
        <input
          type="text"
          class="browser-default input text margin-b"
          style="width: 100%"
          placeholder="Telefon"
        />
        <input
          type="text"
          class="browser-default input text margin-b"
          style="width: 100%"
          placeholder="E-Mail"
        />
      </div>
      <div class="box white margin-b with-border">
        <div class="margin-b flex">
          <p>
            <label>
              <input class="with-gap" name="group1" type="radio" />
              <span class="title-small" style="color: #172446"
                >Lieferadresse</span
              >
            </label>
          </p>
          <i class="material-icons" style="color: #ff6900; margin-bottom: 10px"
            >edit</i
          >
        </div>
        <input
          type="text"
          class="browser-default input text margin-b"
          style="width: 100%"
          placeholder="Firma"
        />
        <input
          type="text"
          class="browser-default input text margin-b"
          style="width: 100%"
          placeholder="Vorname*"
        />
        <input
          type="text"
          class="browser-default input text margin-b"
          style="width: 100%"
          placeholder="Nachname*"
        />
        <input
          type="text"
          class="browser-default input text margin-b"
          style="width: 100%"
          placeholder="Straße, Nr.*"
        />
        <div class="flex with-border margin-b">
          <input
            type="text"
            class="browser-default input text"
            style="width: 77%"
            placeholder="PLZ, Ort*"
          />
          <select class="browser-default input" style="width: 20%">
            <option value="1">DE</option>
            <option value="2">AU</option>
            <option value="3">FR</option>
          </select>
        </div>
        <input
          type="text"
          class="browser-default input text margin-b"
          style="width: 100%"
          placeholder="Telefon"
        />
        <input
          type="text"
          class="browser-default input text margin-b"
          style="width: 100%"
          placeholder="E-Mail"
        />
        <div style="text-align: right" class="hide-desktop">
          <button class="waves-effect waves-light btn">
            Weiter zur Bestellprüfung
          </button>
        </div>
      </div>
      <div class="box white margin-b hide-mobile with-border">
        <div class="margin-b flex">
          <p>
            <label>
              <input class="with-gap" name="group1" type="radio" />
              <span class="title-small" style="color: #172446"
                >Individuell</span
              >
            </label>
          </p>
          <i class="material-icons" style="color: #ff6900; margin-bottom: 10px"
            >edit</i
          >
        </div>
        <input
          type="text"
          class="browser-default input text margin-b"
          style="width: 100%"
          placeholder="Firma"
        />
        <input
          type="text"
          class="browser-default input text margin-b"
          style="width: 100%"
          placeholder="Vorname*"
        />
        <input
          type="text"
          class="browser-default input text margin-b"
          style="width: 100%"
          placeholder="Nachname*"
        />
        <input
          type="text"
          class="browser-default input text margin-b"
          style="width: 100%"
          placeholder="Straße, Nr.*"
        />
        <div class="flex with-border margin-b">
          <input
            type="text"
            class="browser-default input text"
            style="width: 77%"
            placeholder="PLZ, Ort*"
          />
          <select class="browser-default input" style="width: 20%">
            <option value="1">DE</option>
            <option value="2">AU</option>
            <option value="3">FR</option>
          </select>
        </div>
        <input
          type="text"
          class="browser-default input text margin-b"
          style="width: 100%"
          placeholder="Telefon"
        />
        <input
          type="text"
          class="browser-default input text margin-b"
          style="width: 100%"
          placeholder="E-Mail"
        />
      </div>
    </div>
    <div style="text-align: right" class="hide-mobile">
      <button class="waves-effect waves-light btn">
        Weiter zur Bestellprüfung
      </button>
    </div>
  </form>
</div>
