<div class="padding section-padding">
  <div class="title">Jetzt Onlineshop anbinden und durchstarten!</div>
  <div class="flex-to-column flex-mobile-column margin-t gap">
    <div class="box light margin-b">
      <div class="title-tiny">Shipcloud Plugin</div>
      <div>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua.
      </div>
      <button class="waves-effect waves-light btn">Jetzt downloaden</button>
    </div>
    <div class="box light margin-b">
      <div class="title-tiny">Shipcloud Plugin</div>
      <div>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua.
      </div>
      <button class="waves-effect waves-light btn">Jetzt downloaden</button>
    </div>
  </div>
</div>
