<div class="padding section-padding light">
  <div class="flex-desktop" style="padding: 30px 0 30px 0">
    <div class="box dark half">
      <div class="title">Cargo International in Zahlen</div>
      <div class="facts margin-t">
        <div>Sendungen pro Monat</div>
        <div>4322</div>
        <div>Stammkunden</div>
        <div>520</div>
        <div>Versand in</div>
        <div>123 Länder</div>
        <div>Google Bewertung</div>
        <div>4,2 von 5</div>
      </div>
    </div>
    <img src="../assets/data.svg" alt="" class="half" />
  </div>
</div>
