<div class="padding background-light section">
  <div class="flex" style="padding: 30px 0 30px 0">
    <div class="box-dark" style="max-width: 45%; min-width: 40%">
      <div class="title">Cargo International in Zahlen</div>
      <div class="facts">
        <div>Sendungen pro Monat</div>
        <div>4322</div>
        <div>Stammkunden</div>
        <div>520</div>
        <div>Versand in</div>
        <div>123 Länder</div>
        <div>Google Bewertung</div>
        <div>4,2 von 5</div>
      </div>
    </div>
    <img src="../assets/data.svg" width="45%" alt="" />
  </div>
</div>
