<div class="padding section">
  <div class="title">Warum Cargo International?</div>
  <div class="flex-desktop">
    <div class="box">
      <img src="../assets/ci-paket.svg" alt="" width="40px" />
      <div style="font-size: 20px">Top Preis</div>
      <div>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</div>
    </div>
    <div class="box">
      <img src="../assets/ci-paket.svg" alt="" width="40px" />
      <div style="font-size: 20px">Top Preis</div>
      <div>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</div>
    </div>
    <div class="box">
      <img src="../assets/ci-paket.svg" alt="" width="40px" />
      <div style="font-size: 20px">Top Preis</div>
      <div>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</div>
    </div>
    <div class="box">
      <img src="../assets/ci-paket.svg" alt="" width="40px" />
      <div style="font-size: 20px">Top Preis</div>
      <div>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</div>
    </div>
  </div>
  <div class="flex-desktop">
    <div class="box-light box-tiny">
      <img src="../assets/ci-paket.svg" alt="" width="40px" />
      <div style="font-size: 20px">Paketversand</div>
      <div>ab 25 €</div>
    </div>
    <div class="box-light box-tiny">
      <img src="../assets/ci-paket.svg" alt="" width="40px" />
      <div style="font-size: 20px">Paketversand</div>
      <div>ab 25€</div>
    </div>
    <div class="box-light box-tiny">
      <img src="../assets/ci-paket.svg" alt="" width="40px" />
      <div style="font-size: 20px">Paketversand</div>
      <div>ab 25€</div>
    </div>
    <div class="box-light box-tiny">
      <img src="../assets/ci-paket.svg" alt="" width="40px" />
      <div style="font-size: 20px">Paketversand</div>
      <div>ab 25€</div>
    </div>
  </div>
  <div style="text-align: center">
    <a
      class="waves-effect waves-light btn"
      style="background-color: #ff6900; color: white; margin-top: 20px"
      >Weitere Leistungen</a
    >
  </div>
</div>
