<div style="width: 45%">
  <div style="width: 60%" class="title">Sie verpacken, wir holen ab!</div>
  <div style="margin-left: -15%; margin-top: -10%">
    <img src="../assets/package.svg" />
  </div>
  <div style="margin: 0 0 10px 0">Wir versenden mit</div>
  <div class="flex">
    <div class="box">
      <img src="../assets/emons.png" alt="" width="100%" class="icon" />
    </div>
    <div class="box">
      <img src="../assets/ups.png" alt="" class="icon" height="100%" />
    </div>
    <div class="box">
      <img src="../assets/raben.png" alt="" class="icon" width="100%" />
    </div>
  </div>
</div>
