<div class="padding margin-t">
  <div class="title">Sie verpacken, wir holen ab!</div>
  <div>
    <img src="../assets/package.svg" />
  </div>
  <div style="margin: 0 0 10px 0">Wir versenden mit</div>
  <div class="flex">
    <div class="spacing">
      <img src="../assets/emons.png" alt="" width="100%" />
    </div>
    <div class="spacing">
      <img src="../assets/ups.png" alt="" height="100%" />
    </div>
    <div class="spacing">
      <img src="../assets/raben.png" alt="" width="100%" />
    </div>
  </div>
</div>
