<div class="padding margin-t flex">
  <div class="half">
    <div class="title-big">Sie verpacken, wir holen ab!</div>
    <div>
      <img src="../assets/package.svg" />
    </div>
    <div style="margin: 0 0 10px 0">Wir versenden mit</div>
    <div class="flex">
      <div class="logo-box light icon">
        <img src="../assets/emons.png" width="100%" />
      </div>
      <div class="logo-box light icon">
        <img src="../assets/ups.png" height="100%" />
      </div>
      <div class="logo-box light icon hide-mobile">
        <img src="../assets/raben.png" width="100%" />
      </div>
    </div>
  </div>
  <div class="half"></div>
</div>
