<footer class="page-footer padding" style="background-color: #172446">
  <div class="flex" style="justify-content: center; margin-top: 20px">
    <div style="padding: 10px">
      <img src="../assets/ups.png" alt="" height="30px" />
    </div>
    <div style="padding: 10px">
      <img src="../assets/ups.png" alt="" height="30px" />
    </div>
  </div>
  <ul class="flex-desktop" style="justify-content: flex-start">
    <li style="padding: 5px">
      <a class="grey-text text-lighten-3" href="#!">Über uns</a>
    </li>
    <li style="padding: 5px">
      <a class="grey-text text-lighten-3" href="#!">Kontakt</a>
    </li>
    <li style="padding: 5px">
      <a class="grey-text text-lighten-3" href="#!">Impressum</a>
    </li>
    <li style="padding: 5px">
      <a class="grey-text text-lighten-3" href="#!">AGB</a>
    </li>
    <li style="padding: 5px">
      <a class="grey-text text-lighten-3" href="#!">Datenschutz</a>
    </li>
    <li style="padding: 5px">
      <a class="grey-text text-lighten-3" href="#!">Dateneinstellungen</a>
    </li>
    <li style="padding: 5px">
      <a class="grey-text text-lighten-3" href="#!">Widerrufsbelehrung</a>
    </li>
    <li style="padding: 5px">
      <a class="grey-text text-lighten-3" href="#!">Verpackungsrichtlinien</a>
    </li>
  </ul>

  <div class="divider"></div>
  <div class="footer-copyright">
    <div>© 2014 Cargo International Spedition & Paketdienst |</div>
  </div>
</footer>
