<div class="padding flex-desktop section-padding" style="max-height: 1200px">
  <div class="half"></div>
  <div class="halfMin floating">
    <div
      style="background-color: white; color: #172446; border-radius: 4px"
      class="padding-forms margin-b"
    >
      <div class="title-tiny margin-b">Vielversenderanfrage</div>
      <form>
        <div style="width: 100%">
          <label class="label-input">
            <input
              type="text"
              class="browser-default input text margin-b with-border"
              style="width: 100%"
              placeholder="&nbsp"
            />
            <span class="label">Firma</span>
          </label>
        </div>
        <div class="flex with-border" style="gap: 10px">
          <div style="width: 100%">
            <label class="label-input">
              <input
                type="text"
                class="browser-default input text margin-b with-border"
                style="width: 100%"
                placeholder="&nbsp"
              />
              <span class="label">Vorname*</span>
            </label>
          </div>
          <div style="width: 100%">
            <label class="label-input">
              <input
                type="text"
                class="browser-default input text margin-b with-border"
                style="width: 100%"
                placeholder="&nbsp"
              />
              <span class="label">Nachname*</span>
            </label>
          </div>
        </div>
        <div class="flex-to-column with-border">
          <div style="width: 100%">
            <label class="label-input">
              <input
                type="text"
                class="browser-default input text margin-b with-border"
                style="width: 100%"
                placeholder="&nbsp"
              />
              <span class="label">Telefon</span>
            </label>
          </div>
          <div style="width: 100%">
            <label class="label-input">
              <input
                type="text"
                class="browser-default input text margin-b with-border"
                style="width: 100%"
                placeholder="&nbsp"
              />
              <span class="label">E-Mail</span>
            </label>
          </div>
        </div>
        <div style="width: 100%">
          <label class="label-input">
            <input
              type="text"
              class="browser-default input text margin-b with-border"
              style="width: 100%"
              placeholder="&nbsp"
            />
            <span class="label">Shop-System*</span>
          </label>
        </div>
        <div style="width: 100%">
          <label class="label-input">
            <input
              type="text"
              class="browser-default input text margin-b with-border"
              style="width: 100%"
              placeholder="&nbsp"
            />
            <span class="label">Warenwirtschaft*</span>
          </label>
        </div>
        <div style="width: 100%" class="hide-desktop">
          <label class="label-input">
            <input
              type="text"
              class="browser-default input text margin-b with-border"
              style="width: 100%"
              placeholder="&nbsp"
            />
            <span class="label">Monatliche Sendungen</span>
          </label>
        </div>
        <div class="flex-to-column flex-mobile with-border">
          <div class="flex margin-b" style="width: 100%">
            <div>Cargo Kunde?</div>
            <div id="toggle-client" class="flex" style="gap: 5px">
              <div class="toggle active" id="client-yes">Ja</div>
              <div class="toggle" id="client-no">Nein</div>
            </div>
            <div style="width: 50%" class="hide-mobile">
              <label class="label-input">
                <input
                  type="text"
                  class="browser-default input text with-border"
                  style="width: 100%"
                  placeholder="&nbsp"
                />
                <span class="label">Monatliche Sendungen</span>
              </label>
            </div>
          </div>
        </div>
        <div class="flex-to-column-tiny">
          <div class="margin-b">Häufigste Verpackung?</div>
          <div id="toggle-package" class="flex">
            <div class="toggle active" id="toggle-package">Paket</div>
            <div class="toggle" id="toggle-palette">Palette</div>
            <div class="toggle" id="toggle-bulky">Sperrgut</div>
          </div>
        </div>

        <div style="text-align: center">
          <button class="waves-effect waves-light btn" type="submit">
            Anfrage senden
          </button>
        </div>
      </form>
    </div>
    <div
      style="background-color: white; color: #172446; border-radius: 4px"
      class="flex-to-column padding-forms"
    >
      <div class="width-desktop">
        <div>Haben Sie einen Online-Shop?</div>
        <div>
          <a class="link-icon" href=""
            >Integrationen <i class="material-icons">chevron_right</i></a
          >
        </div>
      </div>
      <div class="line"></div>
      <div class="padding-desktop width-desktop">
        <div>Eine Menge zu versenden?</div>
        <div>
          <a class="link-icon" href=""
            >Für Vielversender <i class="material-icons">chevron_right</i></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const toggleButtons = document.getElementById("toggle-client").children;
  for (btn of toggleButtons) {
    btn.addEventListener("click", function () {
      for (btn2 of toggleButtons) {
        btn2.classList.remove("active");
      }
      this.classList.add("active");
    });
  }

  const toggleButtons2 = document.getElementById("toggle-package").children;
  for (btn of toggleButtons2) {
    btn.addEventListener("click", function () {
      for (btn2 of toggleButtons2) {
        btn2.classList.remove("active");
      }
      this.classList.add("active");
    });
  }
</script>
