<div class="padding flex-desktop section-padding" style="max-height: 1200px">
  <div class="half"></div>
  <div class="halfMin">
    <div
      style="
        background-color: white;
        color: #172446;
        border-radius: 4px;
        padding: 30px;
      "
    >
      <div class="title-tiny">Vielversenderanfrage</div>
      <div class="margin-t">
        <input
          type="text"
          class="browser-default input text margin-b with-border"
          style="width: 100%"
          placeholder="Firma"
        />
        <div class="flex with-border margin-b" style="gap: 10px">
          <input
            type="text"
            class="browser-default input text"
            style="width: 100%"
            placeholder="Vorname*"
          />
          <input
            type="text"
            class="browser-default input text"
            style="width: 100%"
            placeholder="Nachname*"
          />
        </div>
        <div class="flex-to-column with-border">
          <input
            type="text"
            class="browser-default input text margin-b"
            style="width: 100%"
            placeholder="Telefon"
          />
          <input
            type="text"
            class="browser-default input text margin-b"
            style="width: 100%"
            placeholder="E-Mail"
          />
        </div>
        <div class="flex with-border margin-b" style="gap: 10px">
          <input
            type="text"
            class="browser-default input text"
            style="width: 100%"
            placeholder="Shop-System*"
          />
          <input
            type="text"
            class="browser-default input text"
            style="width: 100%"
            placeholder="Warenwirtschaft*"
          />
        </div>
        <div class="flex-to-column flex-mobile with-border">
          <div class="flex margin-b" style="width: 100%">
            <div>Cargo Kunde?</div>
            <div id="toggle-client" class="flex">
              <div class="toggle active" id="client-yes">Ja</div>
              <div class="toggle" id="client-no">Nein</div>
            </div>
          </div>
          <input
            type="text"
            class="browser-default input text margin-b"
            style="width: 100%"
            placeholder="Monatliche Sendungen"
          />
        </div>
        <div class="flex margin-b">
          <div>Häufigste Verpackung?</div>
          <div id="toggle-package" class="flex">
            <div class="toggle active" id="toggle-package">Paket</div>
            <div class="toggle" id="toggle-palette">Palette</div>
            <div class="toggle" id="toggle-bulky">Sperrgut</div>
          </div>
        </div>

        <div style="text-align: center">
          <a class="waves-effect waves-light btn">Anfrage senden</a>
        </div>
      </div>
    </div>
    <div
      style="
        background-color: white;
        color: #172446;
        border-radius: 4px;
        padding: 30px;
      "
      class="margin-t flex-to-column"
    >
      <div class="half">
        <div>Haben Sie einen Online-Shop?</div>
        <div>
          <a class="link-icon" href=""
            >Integrationen <i class="material-icons">chevron_right</i></a
          >
        </div>
      </div>
      <div class="line"></div>
      <div class="half">
        <div>Eine Menge zu versenden?</div>
        <div>
          <a class="link-icon" href=""
            >Für Vielversender <i class="material-icons">chevron_right</i></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
