<nav class="nav-extended">
  <div class="nav-wrapper">
    <img href="../logo.svg" class="brand-logo" />
    <a href="#" data-target="mobile" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a
    >
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a href=""><i class="material-icons">search</i></a>
      </li>
      <li><a href="">Hilfe</a></li>
      <li><a href="">MyCargo</a></li>
      <li><a href="">Sendungsverfolgung</a></li>
      <li class="indicator"></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile">
  <li><a href="">Hilfe</a></li>
  <li><a href="">MyCargo</a></li>
  <li><a href="">Sendungsverfolgung</a></li>
</ul>

<div style="padding: 0 15px 0 0">
  <div class="divider"></div>
</div>
