<div class="padding">
  <nav class="nav-extended hide-mobile">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        <img src="../assets/ci-paket.svg" height="50px" class="brand-logo"
      /></a>
      <ul
        class="tabs tabs-transparent"
        style="left: 150px; bottom: -17px; width: 400px; margin: 0"
      >
        <li class="tab">
          <a class="active" style="padding: 0 10px 0 0" href="#calculator"
            >Sendungen</a
          >
        </li>
        <li class="tab">
          <a style="padding: 0 15px 0 15px" href="#shipper">Retouren</a>
        </li>
        <li class="tab">
          <a style="padding: 0 15px 0 15px" href="#integration">Abholungen</a>
        </li>
      </ul>
      <ul
        id="nav-mobile"
        class="right"
        style="position: relative; bottom: 38px"
      >
        <li style="margin-right: 5px">Eingeloggt als</li>
        <li class="title-small" style="margin-right: 5px">Max Mustermann</li>
        <li><i class="material-icons">power_settings_new</i></li>
      </ul>
    </div>
  </nav>

  <nav class="nav-extended hide-desktop">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        <img src="../assets/ci-paket.svg" height="50px" class="brand-logo"
      /></a>
      <ul id="nav-mobile" class="right">
        <a
          style="float: right"
          href="#"
          data-target="mobile-nav"
          class="sidenav-trigger"
          ><i class="material-icons">menu</i></a
        >
      </ul>
    </div>
  </nav>
</div>
<div
  class="divider hide-mobile"
  style="
    background-color: #cccbcb4d;
    width: 100vw;
    position: relative;
    bottom: 48px;
  "
></div>
<div class="divider hide-desktop" style="background-color: #cccbcb4d"></div>

<ul class="sidenav sidenav-2" id="mobile-nav">
  <div class="flex" style="padding: 15px">
    <a href="#" class="brand-logo">
      <img src="../assets/ci-paket.svg" width="50px" class="brand-logo"
    /></a>

    <a
      ><i
        style="color: white; cursor: pointer"
        class="material-icons"
        id="close-2"
        >close</i
      ></a
    >
  </div>
  <div style="margin: 0 15px 0 15px" class="divider"></div>
  <li><a href="">Sendungen</a></li>
  <li><a href="">Retouren</a></li>
  <li><a href="">Abholungen</a></li>
</ul>
<script>
  document.getElementById("close-2").addEventListener("click", function () {
    elem = document.querySelector(".sidenav-2");
    instance = M.Sidenav.getInstance(elem);
    instance.close();
  });
</script>
