<div class="padding light section">
  <div class="section-padding flex-desktop flex-mobile">
    <div class="half">
      <div class="title">
        Jetzt Firmenkunde oder Vielversender werden und folgende Vorteile
        geniessen:
      </div>
      <ul class="list">
        <li>Vergünstigte Konditionen</li>
        <li>Direktfahrten ohne Beiladung fremder Sendungen</li>
        <li>Shopintegration via <a class="link" href="">Shipcloud</a></li>
      </ul>
      <button class="waves-effect waves-light btn">Weitere Leistungen</button>
    </div>
    <img
      src="assets/contract-hell.svg"
      alt=""
      class="half"
      style="margin-bottom: 10px"
    />
  </div>
</div>
