<div class="padding background-light section">
  <div class="section-padding flex-desktop flex-mobile">
    <div class="half">
      <div class="title">
        Jetzt Firmenkunde oder Vielversender werden und folgende Vorteile
        geniessen:
      </div>
      <ul class="list">
        <li>Vergünstigte Konditionen</li>
        <li>Direktfahrten ohne Beiladung fremder Sendungen</li>
        <li>Shopintegration via <a href="">Shipcloud</a></li>
      </ul>
      <a
        class="waves-effect waves-light btn"
        style="background-color: #ff6900; color: white; margin-top: 20px"
        >Weitere Leistungen</a
      >
    </div>
    <img
      src="../assets/contract-hell.svg"
      alt=""
      class="half"
      style="margin-bottom: 10px"
    />
  </div>
</div>
