<div class="padding light section-padding">
  <div class="title">Beliebte Integrationen</div>
  <div
    class="title margin-t"
    style="display: flex; flex-direction: column; gap: 16px"
  >
    <div class="flex-to-column flex-mobile-column" style="gap: 16px">
      <div class="logo-box-big dark"><img src="../assets/ebay.png" /></div>
      <div class="logo-box-big dark"><img src="../assets/ebay.png" /></div>
      <div class="logo-box-big dark"><img src="../assets/ebay.png" /></div>
      <div class="logo-box-big dark"><img src="../assets/ebay.png" /></div>
    </div>
    <div class="hide-mobile">
      <div style="display: flex; flex-direction: column; gap: 16px">
        <div class="flex-to-column flex-mobile-column" style="gap: 16px">
          <div class="logo-box-big dark"><img src="../assets/ebay.png" /></div>
          <div class="logo-box-big dark"><img src="../assets/ebay.png" /></div>
          <div class="logo-box-big dark"><img src="../assets/ebay.png" /></div>
          <div class="logo-box-big dark"><img src="../assets/ebay.png" /></div>
        </div>
        <div class="flex-to-column flex-mobile-column" style="gap: 16px">
          <div class="logo-box-big dark"><img src="../assets/ebay.png" /></div>
          <div class="logo-box-big dark"><img src="../assets/ebay.png" /></div>
          <div class="logo-box-big dark"><img src="../assets/ebay.png" /></div>
          <div class="logo-box-big dark"><img src="../assets/ebay.png" /></div>
        </div>
      </div>
    </div>
  </div>
  <a class="waves-effect waves-light btn hide-desktop"
    >Versandkosten berechnen</a
  >
</div>
