<div class="padding light section-padding">
  <div class="title">Beliebte Integrationen</div>
  <div class="title margin-t gap" style="display: flex; flex-direction: column">
    <div class="flex-to-column gap">
      <div class="logo-box-big dark margin-b">
        <img src="assets/ebay.png" />
      </div>
      <div class="logo-box-big dark margin-b">
        <img src="assets/ebay.png" />
      </div>
      <div class="logo-box-big dark margin-b">
        <img src="assets/ebay.png" />
      </div>
      <div class="logo-box-big dark margin-b">
        <img src="assets/ebay.png" />
      </div>
    </div>
    <div class="hide-mobile">
      <div style="display: flex; flex-direction: column" class="gap">
        <div class="flex-to-column gap">
          <div class="logo-box-big dark margin-b">
            <img src="assets/ebay.png" />
          </div>
          <div class="logo-box-big dark margin-b">
            <img src="assets/ebay.png" />
          </div>
          <div class="logo-box-big dark margin-b">
            <img src="assets/ebay.png" />
          </div>
          <div class="logo-box-big dark margin-b">
            <img src="assets/ebay.png" />
          </div>
        </div>
        <div class="flex-to-column gap">
          <div class="logo-box-big dark margin-b">
            <img src="assets/ebay.png" />
          </div>
          <div class="logo-box-big dark margin-b">
            <img src="assets/ebay.png" />
          </div>
          <div class="logo-box-big dark margin-b">
            <img src="assets/ebay.png" />
          </div>
          <div class="logo-box-big dark margin-b">
            <img src="assets/ebay.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="waves-effect waves-light btn hide-desktop">
    Alle Integrationen
  </button>
</div>
