<div class="padding hide-mobile">
  <div class="title margin-t">MyCargo Verwaltung</div>
  <div class="flex margin-t">
    <div style="width: 23%" class="menu">
      <ul class="collapsible">
        <li class="active">
          <div
            class="collapsible-header menu-point flex active-page"
            style="justify-content: start"
          >
            <i class="material-icons">feed</i>
            <div>Aufträge</div>
          </div>
          <div class="collapsible-body">
            <a href=""><div class="menu-point">Neuer Auftrag</div></a>
            <a href=""
              ><div class="menu-point active-page">Meine Aufträge</div></a
            >
            <a href=""><div class="menu-point">Rechnungen</div></a>
            <a href=""><div class="menu-point">Schadensmeldungen</div></a>
          </div>
        </li>
      </ul>
      <ul class="collapsible">
        <li>
          <div
            class="collapsible-header menu-point flex"
            style="justify-content: start"
          >
            <i class="material-icons">person</i>
            <div>Persönliche Daten</div>
          </div>
          <div class="collapsible-body">
            <span
              ><div class="menu-point">Neuer Auftrag</div>
              <div class="menu-point">Meine Aufträge</div></span
            >
            <div class="menu-point">Rechnungen</div>
            <div class="menu-point">Schadensmeldungen</div>
          </div>
        </li>
      </ul>
      <ul class="collapsible">
        <li>
          <div
            class="collapsible-header menu-point flex"
            style="justify-content: start"
          >
            <i class="material-icons"
              ><span class="material-icons-outlined"> menu_book </span></i
            >
            <div>Adressbuch</div>
          </div>
          <div class="collapsible-body">
            <span
              ><div class="menu-point">Neuer Auftrag</div>
              <div class="menu-point">Meine Aufträge</div></span
            >
            <div class="menu-point">Rechnungen</div>
            <div class="menu-point">Schadensmeldungen</div>
          </div>
        </li>
      </ul>
      <ul class="collapsible">
        <li>
          <div
            class="collapsible-header menu-point flex"
            style="justify-content: start"
          >
            <i class="material-icons">settings</i>
            <div>Einstellungen</div>
          </div>
          <div class="collapsible-body">
            <span
              ><div class="menu-point">Neuer Auftrag</div>
              <div class="menu-point">Meine Aufträge</div></span
            >
            <div class="menu-point">Rechnungen</div>
            <div class="menu-point">Schadensmeldungen</div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
