<div class="padding margin-t">
  <div class="title margin-b">Angebot wählen</div>
  <div class="offer-grid hide-mobile white margin-t">
    <div class="icon">
      <img src="../assets/ci-paket-dark.svg" />
    </div>
    <div class="offer-cell">
      <div>Paketdienst</div>
      <div>Paket</div>
    </div>
    <div class="offer-cell">
      <div>Lieferzeit</div>
      <div>16-24 h</div>
    </div>
    <div class="offer-cell">
      <div>Früheste Abholung</div>
      <div style="white-space: nowrap">
        Montag, 26.April 2021<i
          class="material-icons"
          style="font-size: 15px; margin-left: 7px"
          >calendar_today</i
        >
      </div>
    </div>
    <div class="offer-cell">
      <div>Preis</div>
      <div>59,40 €</div>
    </div>
  </div>
  <div class="offer-grid detail white hide-desktop margin-b">
    <img src="../assets/ci-paket-dark.svg" />
    <div class="price">59,40 €</div>
    <div class="radio">
      <p>
        <label>
          <input class="with-gap" name="offer-detail" type="radio" />
          <span></span>
        </label>
      </p>
    </div>
    <div class="offer-cell">
      <div>Paketdienst</div>
      <div>Paket</div>
    </div>
    <div class="offer-cell">
      <div>Lieferzeit</div>
      <div>16-24 h</div>
    </div>
    <div class="offer-cell">
      <div style="white-space: nowrap">Früheste Abholung</div>
      <div>26.04.2021</div>
    </div>
  </div>

  <form class="margin-t box white hide-mobile">
    <div class="title-small margin-b">Versandoptionen</div>
    <div class="flex">
      <div class="check-box">
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Terminankündigung beim Empfanger</span>
          </label>
        </p>
      </div>
      <div>03.95 €</div>
    </div>
    <div class="flex">
      <div class="check-box">
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Ware kann ohne Empfänger vor Ort abgestellt werden</span>
          </label>
        </p>
      </div>
      <div>03.95 €</div>
    </div>
    <div class="flex margin-b">
      <div class="check-box">
        <p>
          <label>
            <input type="checkbox" class="filled-in" />
            <span>Nachnahme</span>
          </label>
        </p>
      </div>
      <div>03.95 €</div>
    </div>
    <div class="title-small">Wertersatzversicherung AGB Nr. 15 (optional)</div>
    <div class="flex margin-b">
      <input
        type="text"
        style="width: 30%"
        class="browser-default input text margin-b with-border"
        placeholder="Telefon"
      />
      <div>0,00 €</div>
    </div>
    <div class="title-small">Abholdatum</div>
    <div class="flex margin-b">
      <input
        type="date"
        style="width: 30%"
        class="browser-default input text margin-b with-border"
        placeholder="Telefon"
      />
      <div class="title-small">Gesamtwert: 75,35 €</div>
    </div>
    <div style="background-color: #cccbcb4d; padding: 20px; border-radius: 4px">
      <div
        style="
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          grid-template-rows: repeat(2, 1fr);
        "
      >
        <div class="title-small" style="grid-column: 1/3">Abholzeiten</div>
        <div style="grid-column: 3/7">
          Am gewählten Datum (Werktags Mo-Fr) zwischen 09:00 und 17:00 Uhr.
        </div>
        <div class="title-small" style="grid-column: 1/3">
          Ungünstige Abholzeit?
        </div>
        <div style="grid-column: 3/7">
          Ihre Sendung kann auch gerne bei Ihren Nachbarn abgeholt werden.
        </div>
      </div>
    </div>
    <div style="text-align: right">
      <button class="waves-effect waves-light btn" type="submit">
        Weiter zur Adresseingabe
      </button>
    </div>
  </form>

  <form class="hide-desktop">
    <div class="box white margin-b" style="padding: 20px">
      <div class="title-small">Versandoptionen</div>
      <div class="flex radio-box">
        <div class="check-box more-row margin-b">
          <p>
            <label>
              <input type="checkbox" class="filled-in" checked="checked" />
              <span style="width: 80%"
                ><span>Terminankündigung beim Empfanger</span></span
              >
            </label>
          </p>
        </div>
        <div style="white-space: nowrap">03.95 €</div>
      </div>
      <div class="flex radio-box">
        <div class="check-box more-rows margin-b">
          <p>
            <label>
              <input type="checkbox" class="filled-in" checked="checked" />
              <span style="width: 80%"
                ><span
                  >Ware kann ohne Empfänger vor Ort abgestellt werden</span
                ></span
              >
            </label>
          </p>
        </div>
        <div style="white-space: nowrap">03.95 €</div>
      </div>
      <div class="flex radio-box">
        <div class="check-box">
          <p>
            <label>
              <input type="checkbox" class="filled-in" checked="checked" />
              <span style="width: 80%"><span>Nachnahme</span></span>
            </label>
          </p>
        </div>
        <div style="white-space: nowrap">03.95 €</div>
      </div>
    </div>
    <div class="box white margin-b" style="padding: 20px">
      <div class="title-small margin-b">
        Wertersatzversicherung AGB Nr. 15 (optional)
      </div>
      <div class="flex margin-b">
        <input
          type="text"
          class="browser-default input text margin-b with-border"
          style="width: 80%"
          placeholder="Betrag in €"
        />
        <div>0,00 €</div>
      </div>
    </div>
    <div class="box white margin-b" style="padding: 20px">
      <div class="title-small margin-b">Abholdatum</div>
      <div class="flex">
        <input
          type="date"
          style="width: 80%"
          class="browser-default input text margin-b with-border"
          placeholder="Telefon"
        />
        <div>0,00 €</div>
      </div>
    </div>
    <div class="box white" style="padding: 20px">
      <div class="title-small margin-b">Abholzeiten</div>
      <div class="margin-b">
        Am gewählten Datum (Werktags Mo-Fr) zwischen 09:00 und 17:00 Uhr.
      </div>
      <div class="title-small margin-b">Ungünstige Abholzeit?</div>
      <div class="margin-b">
        Ihre Sendung kann auch gerne bei Ihren Nachbarn abgeholt werden.
      </div>
      <div
        class="box dark flex title-small"
        style="color: white; padding: 10px 20px"
      >
        <div>Gesamtbetrag</div>
        <div>75,35 €</div>
      </div>
      <div>
        <button class="waves-effect waves-light btn" type="submit">
          Weiter zur Adresseingabe
        </button>
      </div>
    </div>
  </form>
</div>
