<div class="padding margin-t">
  <div class="title">Angebot wählen</div>
  <div class="offer-grid light hide-mobile margin-t">
    <div class="icon">
      <img src="../assets/amazon.png" />
    </div>
    <div class="offer-cell">
      <div>Paketdienst</div>
      <div>Paket</div>
    </div>
    <div class="offer-cell">
      <div>Lieferzeit</div>
      <div>16-24 h</div>
    </div>
    <div class="offer-cell">
      <div>Früheste Abholung</div>
      <div style="white-space: nowrap">Montag, 26.April 2021</div>
    </div>
    <div class="offer-cell">
      <div>Preis</div>
      <div>59,40 €</div>
    </div>
    <a
      class="waves-effect waves-light btn"
      style="margin-top: 0; margin-right: 20px"
      >Details ansehen</a
    >
  </div>
  <div class="offer-grid light hide-desktop">
    <img src="../assets/amazon.png" />
    <div class="price">59,40 €</div>
    <div class="radio">
      <p>
        <label>
          <input class="with-gap" name="offer" type="radio" />
          <span></span>
        </label>
      </p>
    </div>
    <div class="offer-cell">
      <div>Paketdienst</div>
      <div>Paket</div>
    </div>
    <div class="offer-cell">
      <div>Lieferzeit</div>
      <div>16-24 h</div>
    </div>
    <div class="offer-cell">
      <div style="white-space: nowrap">Früheste Abholung</div>
      <div>26.04.2021</div>
    </div>
  </div>
</div>
