<div class="padding">
  <div class="section-padding">
    <div class="title" style="margin-bottom: 20px">
      Fragen und Antworten zum Reifenversand
    </div>
    <div>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header flex">
            <div>Was muss ich beim Versand von Reifen beachten?</div>
            <i class="material-icons chev-right">chevron_right</i>
            <i class="material-icons chev-down">expand_more</i>
          </div>
          <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </li>
      </ul>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header flex">
            <div>Was muss ich beim Versand von Reifen beachten?</div>
            <i class="material-icons chev-right">chevron_right</i>
            <i class="material-icons chev-down">expand_more</i>
          </div>
          <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </li>
      </ul>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header flex">
            <div>Was muss ich beim Versand von Reifen beachten?</div>
            <i class="material-icons chev-right">chevron_right</i>
            <i class="material-icons chev-down">expand_more</i>
          </div>
          <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </li>
      </ul>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header flex">
            <div>Was muss ich beim Versand von Reifen beachten?</div>
            <i class="material-icons chev-right">chevron_right</i>
            <i class="material-icons chev-down">expand_more</i>
          </div>
          <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </li>
      </ul>
    </div>
    <div id="more-question" class="hide">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header flex">
            <div>Was muss ich beim Versand von Reifen beachten?</div>
            <i class="material-icons chev-right">chevron_right</i>
            <i class="material-icons chev-down">expand_more</i>
          </div>
          <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </li>
      </ul>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header flex">
            <div>Was muss ich beim Versand von Reifen beachten?</div>
            <i class="material-icons chev-right">chevron_right</i>
            <i class="material-icons chev-down">expand_more</i>
          </div>
          <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </li>
      </ul>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header flex">
            <div>Was muss ich beim Versand von Reifen beachten?</div>
            <i class="material-icons chev-right">chevron_right</i>
            <i class="material-icons chev-down">expand_more</i>
          </div>
          <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </li>
      </ul>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header flex">
            <div>Was muss ich beim Versand von Reifen beachten?</div>
            <i class="material-icons chev-right">chevron_right</i>
            <i class="material-icons chev-down">expand_more</i>
          </div>
          <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </li>
      </ul>
    </div>
    <div style="text-align: center">
      <a class="waves-effect waves-light btn" id="load-question"
        >Alle Fragen & Antworten</a
      >
    </div>
  </div>
</div>
<script>
  const loadQuestion = document.getElementById("load-question");
  const moreQuestion = document.getElementById("more-question");

  loadQuestion.addEventListener("click", function () {
    moreQuestion.classList.remove("hide");
    loadQuestion.classList.add("hide");
  });
</script>
