<div class="padding section">
  <div class="section-padding">
    <div class="title">Fragen und Antworten zum Reifenversand</div>
    <div>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header flex">
            <div>Was muss ich beim Versand von Reifen beachten?</div>
            <i class="material-icons">chevron_right</i>
          </div>
          <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </li>
      </ul>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header flex">
            <div>Was muss ich beim Versand von Reifen beachten?</div>
            <i class="material-icons">chevron_right</i>
          </div>
          <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </li>
      </ul>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header flex">
            <div>Was muss ich beim Versand von Reifen beachten?</div>
            <i class="material-icons">chevron_right</i>
          </div>
          <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </li>
      </ul>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header flex">
            <div>Was muss ich beim Versand von Reifen beachten?</div>
            <i class="material-icons">chevron_right</i>
          </div>
          <div class="collapsible-body">
            <span>Lorem ipsum dolor sit amet.</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
