<div class="padding">
  <div
    style="
      background-color: white;
      color: #172446;
      border-radius: 4px;
      padding: 30px;
    "
  >
    <div>Jetzt Versandkosten berechnen</div>
    <div class="row tabs-img">
      <div class="col s12">
        <ul class="tabs no-indicator">
          <li class="tab col s3">
            <a class="active" href="#test1"
              ><img src="../assets/ci-paket.svg" width="40px" />
              <div class="tab-font">Paket</div></a
            >
          </li>
          <li class="tab col s3">
            <a href="#test2"
              ><img src="../assets/ci-sperrgut.svg" width="40px" />
              <div class="tab-font">Sperrgut</div></a
            >
          </li>
          <li class="tab col s3">
            <a href="#test3"
              ><img src="../assets/ci-einwegpalette.svg" width="40px" />
              <div class="tab-font">Einwegpalette</div></a
            >
          </li>
          <li class="tab col s3">
            <a href="#test4"
              ><img src="../assets/ci-europalette.svg" width="40px" />
              <div class="tab-font">Europalette</div></a
            >
          </li>
        </ul>
      </div>
      <div id="test1 test2 test3 test4" class="col s12">
        <div class="tab-content">
          <div class="flex">
            <select class="browser-default">
              <option value="1">DE</option>
              <option value="2">AU</option>
              <option value="3">FR</option>
            </select>
            <input
              id="password"
              placeholder="Abholadresse"
              type="text"
              class="browser-default"
            />
          </div>
          <div class="flex">
            <select class="browser-default">
              <option value="1">DE</option>
              <option value="2">AU</option>
              <option value="3">FR</option>
            </select>
            <input
              id="password"
              placeholder="Abholadresse"
              type="text"
              class="browser-default"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
