<div class="flex-to-column">
  <div class="input-row margin-b">
    <div>
      <label class="label-input">
        <input
          type="text"
          class="browser-default input text"
          style="width: 100%"
          placeholder="&nbsp"
        />
        <span class="label">Länge</span>
      </label>
    </div>
    <div>
      <label class="label-input">
        <input
          type="text"
          class="browser-default input text"
          style="width: 100%"
          placeholder="&nbsp"
        />
        <span class="label">Breite</span>
      </label>
    </div>
    <div>
      <label class="label-input">
        <input
          type="text"
          class="browser-default input text"
          style="width: 100%"
          placeholder="&nbsp"
        />
        <span class="label">Höhe</span>
      </label>
    </div>
  </div>
  <div class="flex margin-b">
    <div style="width: 40%">
      <label class="label-input">
        <input
          type="text"
          class="browser-default input text with-border"
          style="width: 100%"
          placeholder="&nbsp"
        />
        <span class="label">Gewicht</span>
      </label>
    </div>
    <div style="width: 40%">
      <label class="label-input">
        <input
          type="text"
          class="browser-default input text with-border"
          style="width: 100%"
          placeholder="&nbsp"
        />
        <span class="label">Wert in €</span>
      </label>
    </div>
    <i style="cursor: pointer" class="material-icons icon-btn delete-ship"
      >delete</i
    >
  </div>
</div>
