<div class="section-padding padding" style="padding-right: 0">
  <div class="title">Weitere Informationen</div>
  <div style="position: relative" class="margin-t">
    <div id="carousel">
      <div id="content-slider">
        <div class="item box lighter" href="#one!" id="item">
          <img src="assets/ci-paket.svg" alt="" width="40px" />
          <div class="title-tiny title-padding">
            Bequem und einfach - unser Reifenversand 1
          </div>
          <div>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua.
          </div>
        </div>
        <div class="item box lighter" href="#one!">
          <img src="assets/ci-paket.svg" alt="" width="40px" />
          <div class="title-tiny title-padding">
            Bequem und einfach - unser Reifenversand 2
          </div>
          <div>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua.
          </div>
        </div>
        <div class="item box lighter" href="#one!">
          <img src="assets/ci-paket.svg" alt="" width="40px" />
          <div class="title-tiny title-padding">
            Bequem und einfach - unser Reifenversand 3
          </div>
          <div>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua.
          </div>
        </div>
        <div class="item box lighter" href="#one!">
          <img src="assets/ci-paket.svg" alt="" width="40px" />
          <div class="title-tiny title-padding">
            Bequem und einfach - unser Reifenversand 4
          </div>
          <div>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua.
          </div>
        </div>
        <div class="item box lighter" href="#one!">
          <img src="assets/ci-paket.svg" alt="" width="40px" />
          <div class="title-tiny title-padding">
            Bequem und einfach - unser Reifenversand 5
          </div>
          <div>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua.
          </div>
        </div>
        <div class="item box lighter" href="#one!">
          <img src="assets/ci-paket.svg" alt="" width="40px" />
          <div class="title-tiny title-padding">
            Bequem und einfach - unser Reifenversand 6
          </div>
          <div>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua.
          </div>
        </div>
        <div class="item box lighter" href="#one!">
          <img src="assets/ci-paket.svg" alt="" width="40px" />
          <div class="title-tiny title-padding">
            Bequem und einfach - unser Reifenversand 7
          </div>
          <div>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua.
          </div>
        </div>
        <div class="item box lighter" href="#one!">
          <img src="assets/ci-paket.svg" alt="" width="40px" />
          <div class="title-tiny title-padding">
            Bequem und einfach - unser Reifenversand 8
          </div>
          <div>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua.
          </div>
        </div>
        <div class="item box lighter" href="#one!">
          <img src="assets/ci-paket.svg" alt="" width="40px" />
          <div class="title-tiny title-padding">
            Bequem und einfach - unser Reifenversand 9
          </div>
          <div>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua.
          </div>
        </div>
        <div class="item box lighter" href="#one!">
          <img src="assets/ci-paket.svg" alt="" width="40px" />
          <div class="title-tiny title-padding">
            Bequem und einfach - unser Reifenversand 10
          </div>
          <div>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua.
          </div>
        </div>
        <div class="item box lighter" href="#one!">
          <img src="assets/ci-paket.svg" alt="" width="40px" />
          <div class="title-tiny title-padding">
            Bequem und einfach - unser Reifenversand 11
          </div>
          <div>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua.
          </div>
        </div>
        <div class="item box lighter" href="#one!">
          <img src="assets/ci-paket.svg" alt="" width="40px" />
          <div class="title-tiny title-padding">
            Bequem und einfach - unser Reifenversand 12
          </div>
          <div>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua.
          </div>
        </div>
        <div class="item box lighter" href="#one!">
          <img src="assets/ci-paket.svg" alt="" width="40px" />
          <div class="title-tiny title-padding">
            Bequem und einfach - unser Reifenversand 13
          </div>
          <div>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua.
          </div>
        </div>
        <div class="item box lighter" href="#one!">
          <img src="assets/ci-paket.svg" alt="" width="40px" />
          <div class="title-tiny title-padding">
            Bequem und einfach - unser Reifenversand 14
          </div>
          <div>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua.
          </div>
        </div>
        <div class="item box lighter" href="#one!">
          <img src="assets/ci-paket.svg" alt="" width="40px" />
          <div class="title-tiny title-padding">
            Bequem und einfach - unser Reifenversand 15
          </div>
          <div>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua.
          </div>
        </div>
        <div class="item box lighter" href="#one!">
          <img src="assets/ci-paket.svg" alt="" width="40px" />
          <div class="title-tiny title-padding">
            Bequem und einfach - unser Reifenversand 16
          </div>
          <div>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            erat, sed diam voluptua.
          </div>
        </div>
      </div>
    </div>

    <button id="prev-noWrap" class="icon">
      <i class="material-icons">arrow_back_ios</i>
    </button>
    <button id="next-noWrap" class="icon">
      <i class="material-icons">arrow_forward_ios</i>
    </button>
  </div>
</div>

<script>
  gap = 16;

  carousel = document.getElementById("carousel");
  content = document.getElementById("content-slider");
  next = document.getElementById("next-noWrap");
  prev = document.getElementById("prev-noWrap");
  widthItem = document.getElementById("item").getBoundingClientRect().width;

  window.addEventListener(
    "resize",
    (e) =>
      (widthItem = document
        .getElementById("item")
        .getBoundingClientRect().width)
  );

  next.addEventListener("click", (e) => {
    carousel.scrollBy(widthItem + gap, 0);
    if (carousel.scrollWidth !== 0) {
      prev.style.display = "flex";
    }
    if (
      content.scrollWidth - widthItem - gap <=
      carousel.scrollLeft + carousel.offsetWidth
    ) {
      next.style.display = "none";
    }
  });
  prev.addEventListener("click", (e) => {
    carousel.scrollBy(-(widthItem + gap), 0);
    if (carousel.scrollLeft - widthItem - gap <= 0) {
      prev.style.display = "none";
    }
    if (
      !content.scrollWidth - widthItem - gap <=
      carousel.scrollLeft + widthItem
    ) {
      next.style.display = "flex";
    }
  });
</script>
