<div class="background-light section">
  <div class="padding flex">
    <div style="padding-right: 20px; cursor: pointer" id="previous-img">
      <i class="material-icons circle" style="padding: 13px 9px 13px 17px"
        >arrow_back_ios</i
      >
    </div>
    <div class="carousel carousel-img">
      <a class="carousel-item icon" href="#one!"
        ><img src="../assets/amazon.png"
      /></a>
      <a class="carousel-item icon" href="#two!"
        ><img src="../assets/ups.png"
      /></a>
      <a class="carousel-item icon" href="#three!"
        ><img src="../assets/paypal.png"
      /></a>
      <a class="carousel-item icon" href="#four!"
        ><img src="../assets/emons.png"
      /></a>
      <a class="carousel-item icon" href="#five!"
        ><img src="../assets/ebay.png"
      /></a>
    </div>
    <div style="padding-left: 20px; cursor: pointer" id="next-img">
      <i class="material-icons circle">arrow_forward_ios</i>
    </div>
  </div>
</div>
