<div class="nav-content padding margin-t">
  <div class="dark stepper">
    <a href="#test1" class="done">
      <div class="stepper-tab">
        <div class="circle-filled check">
          <i class="material-icons">check</i>
        </div>
        <div class="circle-filled number"><div>1</div></div>
        <div class="not-done-text">Sendungsdaten für</div>
        <div class="done-text">Sendungsdaten für <b>Variable</b></div>
      </div></a
    >
    <a href="#test1" class="active">
      <div class="stepper-tab">
        <div class="circle-filled check">
          <i class="material-icons">check</i>
        </div>
        <div class="circle-filled number"><div>2</div></div>
        <div class="not-done-text">Angebot</div>
        <div class="done-text">Angebot: <b>Variable</b></div>
      </div></a
    >
    <a href="#test1">
      <div class="stepper-tab">
        <div class="circle-filled check">
          <i class="material-icons">check</i>
        </div>
        <div class="circle-filled number"><div>3</div></div>
        <div class="not-done-text">Adresseingabe</div>
        <div class="done-text">Adresseingabe: <b>Variable</b></div>
      </div></a
    >
    <a href="#test1">
      <div class="stepper-tab">
        <div class="circle-filled check">
          <i class="material-icons">check</i>
        </div>
        <div class="circle-filled number"><div>4</div></div>
        <div class="not-done-text">Zahlungsmethode</div>
        <div class="done-text">Zahlungsmethode <b>Variable</b></div>
      </div></a
    >
  </div>
</div>
