<div class="padding margin-t">
  <div class="box white hide-mobile" style="width: 75%; padding-bottom: 120px">
    <div class="flex">
      <div class="title-small">Meine Aufträge</div>
      <div class="flex" style="gap: 10px; height: 40px" id="icons">
        <div style="cursor: pointer"><i class="material-icons">add</i></div>
        <div id="search" style="cursor: pointer">
          <i class="material-icons">search</i>
        </div>
      </div>
      <div style="width: 40%" class="hide" id="search-input">
        <div class="flex">
          <input
            type="text"
            class="browser-default input text with-border"
            style="width: 100%; position: relative; left: 25px"
            placeholder="Suche"
          />
          <i
            id="close-search"
            class="material-icons"
            style="position: relative; right: 5px; cursor: pointer"
            >close</i
          >
        </div>
      </div>
    </div>
    <div class="table margin-t">
      <div class="header">
        <div style="grid-column: 1">Auftr.-Nr.</div>
        <div style="grid-column: 2">Datum</div>
        <div style="grid-column: 3/5">Versandart</div>
        <div style="grid-column: 5/7">Absender</div>
        <div style="grid-column: 7/9">Empfänger</div>
        <div style="grid-column: 9/11">Status</div>
      </div>
      <div class="body">
        <div class="table-row">
          <div style="grid-column: 1">123456</div>
          <div style="grid-column: 2">23.12.21</div>
          <div style="grid-column: 3/5">Paketversand</div>
          <div style="grid-column: 5/7">
            <div class="title-small">Cargo International</div>
            <div>Max Mustermann</div>
          </div>
          <div style="grid-column: 7/9">
            <div class="title-small">Cargo International</div>
            <div>Max Mustermann</div>
          </div>
          <div style="grid-column: 9/11">
            <div class="title-small">Versendet</div>
            <div>
              <a href="" style="text-decoration: underline; color: #172446"
                >Tracking-Link</a
              >
            </div>
          </div>
          <div
            class="flex"
            style="justify-content: end; gap: 10px; grid-column: 11"
          >
            <div><i class="material-icons">edit</i></div>
            <div><i class="material-icons">inbox</i></div>
          </div>
        </div>
        <div class="table-row">
          <div style="grid-column: 1">123456</div>
          <div style="grid-column: 2">23.12.21</div>
          <div style="grid-column: 3/5">Paketversand</div>
          <div style="grid-column: 5/7">
            <div class="title-small">Cargo International</div>
            <div>Max Mustermann</div>
          </div>
          <div style="grid-column: 7/9">
            <div class="title-small">Cargo International</div>
            <div>Max Mustermann</div>
          </div>
          <div style="grid-column: 9/11">
            <div class="title-small">Versendet</div>
            <div>
              <a href="" style="text-decoration: underline; color: #172446"
                >Tracking-Link</a
              >
            </div>
          </div>
          <div
            class="flex"
            style="justify-content: end; gap: 10px; grid-column: 11"
          >
            <div><i class="material-icons">edit</i></div>
            <div><i class="material-icons">inbox</i></div>
          </div>
        </div>
        <div class="table-row">
          <div style="grid-column: 1">123456</div>
          <div style="grid-column: 2">23.12.21</div>
          <div style="grid-column: 3/5">Paketversand</div>
          <div style="grid-column: 5/7">
            <div class="title-small">Cargo International</div>
            <div>Max Mustermann</div>
          </div>
          <div style="grid-column: 7/9">
            <div class="title-small">Cargo International</div>
            <div>Max Mustermann</div>
          </div>
          <div style="grid-column: 9/11">
            <div class="title-small">Versendet</div>
            <div>
              <a href="" style="text-decoration: underline; color: #172446"
                >Tracking-Link</a
              >
            </div>
          </div>
          <div
            class="flex"
            style="justify-content: end; gap: 10px; grid-column: 11"
          >
            <div><i class="material-icons">edit</i></div>
            <div><i class="material-icons">inbox</i></div>
          </div>
        </div>
        <div class="table-row">
          <div style="grid-column: 1">123456</div>
          <div style="grid-column: 2">23.12.21</div>
          <div style="grid-column: 3/5">Paketversand</div>
          <div style="grid-column: 5/7">
            <div class="title-small">Cargo International</div>
            <div>Max Mustermann</div>
          </div>
          <div style="grid-column: 7/9">
            <div class="title-small">Cargo International</div>
            <div>Max Mustermann</div>
          </div>
          <div style="grid-column: 9/11">
            <div class="title-small">Versendet</div>
            <div>
              <a href="" style="text-decoration: underline; color: #172446"
                >Tracking-Link</a
              >
            </div>
          </div>
          <div
            class="flex"
            style="justify-content: end; gap: 10px; grid-column: 11"
          >
            <div><i class="material-icons">edit</i></div>
            <div><i class="material-icons">inbox</i></div>
          </div>
        </div>
        <div class="table-row">
          <div style="grid-column: 1">123456</div>
          <div style="grid-column: 2">23.12.21</div>
          <div style="grid-column: 3/5">Paketversand</div>
          <div style="grid-column: 5/7">
            <div class="title-small">Cargo International</div>
            <div>Max Mustermann</div>
          </div>
          <div style="grid-column: 7/9">
            <div class="title-small">Cargo International</div>
            <div>Max Mustermann</div>
          </div>
          <div style="grid-column: 9/11">
            <div class="title-small">Versendet</div>
            <div>
              <a href="" style="text-decoration: underline; color: #172446"
                >Tracking-Link</a
              >
            </div>
          </div>
          <div
            class="flex"
            style="justify-content: end; gap: 10px; grid-column: 11"
          >
            <div><i class="material-icons">edit</i></div>
            <div><i class="material-icons">inbox</i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hide-desktop">
    <div style="height: 40px" id="icons-mobile">
      <div class="flex">
        <div class="title-small">Meine Aufträge</div>
        <div class="flex" style="gap: 10px">
          <div style="cursor: pointer"><i class="material-icons">add</i></div>
          <div id="search-mobile" style="cursor: pointer">
            <i class="material-icons">search</i>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 100%" class="hide" id="search-input-mobile">
      <div style="text-align: right; height: 40px">
        <input
          type="text"
          class="browser-default input dark-input text with-border"
          style="width: 100%"
          placeholder="Suche"
        />
        <i
          id="close-search-mobile"
          class="material-icons"
          style="position: relative; right: 5px; bottom: 32px; cursor: pointer"
          >close</i
        >
      </div>
    </div>
    <div class="table margin-t">
      <div class="header">
        <div>Auftr.Nr.</div>
        <div>Datum</div>
        <div>Versandart</div>
      </div>
      <div class="body">
        <div class="table-row">
          <div>123456</div>
          <div>12.34.56</div>
          <div>Paketversand</div>
        </div>
        <div class="table-row">
          <div>123456</div>
          <div>12.34.56</div>
          <div>Paketversand</div>
        </div>
        <div class="table-row">
          <div>123456</div>
          <div>12.34.56</div>
          <div>Paketversand</div>
        </div>
        <div class="table-row">
          <div>123456</div>
          <div>12.34.56</div>
          <div>Paketversand</div>
        </div>
        <div class="table-row">
          <div>123456</div>
          <div>12.34.56</div>
          <div>Paketversand</div>
        </div>
        <div class="table-row">
          <div>123456</div>
          <div>12.34.56</div>
          <div>Paketversand</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const search = document.getElementById("search");
  const searchInput = document.getElementById("search-input");
  const icons = document.getElementById("icons");
  const closeSearch = document.getElementById("close-search");
  search.addEventListener("click", function () {
    searchInput.classList.remove("hide");
    icons.classList.add("hide");
  });

  closeSearch.addEventListener("click", function () {
    searchInput.classList.add("hide");
    icons.classList.remove("hide");
  });

  const searchMobile = document.getElementById("search-mobile");
  const searchInputMobile = document.getElementById("search-input-mobile");
  const iconsMobile = document.getElementById("icons-mobile");
  const closeSearchMobile = document.getElementById("close-search-mobile");
  searchMobile.addEventListener("click", function () {
    searchInputMobile.classList.remove("hide");
    iconsMobile.classList.add("hide");
  });

  closeSearchMobile.addEventListener("click", function () {
    searchInputMobile.classList.add("hide");
    iconsMobile.classList.remove("hide");
  });
</script>
