<div class="padding section-padding">
  <div class="flex-desktop flex-mobile" style="max-height: 100%">
    <img class="half" src="../assets/contract-hell.svg" alt="" />
    <div class="half">
      <div class="box white margin-b">
        <div style="font-size: 24px">Kunde werden</div>
        <div>
          Für den Versand mit Cargo International benötigst Du einen Account.
          Solltest Du noch kein Kunde sein, kannst Du Dich binnen weniger
          Minuten kostenfrei registrieren.
        </div>
        <a class="link-icon" href=""
          >Jetzt registrieren <i class="material-icons">chevron_right</i></a
        >
      </div>
      <div class="box white margin-b">
        <div style="font-size: 24px">Kunde werden</div>
        <div>
          Für den Versand mit Cargo International benötigst Du einen Account.
          Solltest Du noch kein Kunde sein, kannst Du Dich binnen weniger
          Minuten kostenfrei registrieren.
        </div>
        <a class="link-icon" href=""
          >Jetzt registrieren <i class="material-icons">chevron_right</i></a
        >
      </div>
      <div class="box white">
        <div style="font-size: 24px">Kunde werden</div>
        <div>
          Für den Versand mit Cargo International benötigst Du einen Account.
          Solltest Du noch kein Kunde sein, kannst Du Dich binnen weniger
          Minuten kostenfrei registrieren.
        </div>
        <a class="link-icon" href=""
          >Jetzt registrieren <i class="material-icons">chevron_right</i></a
        >
      </div>
    </div>
  </div>
</div>
